<!DOCTYPE html>
<html>
    <head>
        <title>TERMinal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">TERMinal</a></h1>
            <div id="actions-link-wrapper">
                {% if not is_open and is_teacher %}
                <p id="create" class="action">Create Classroom</p>
                {% elif not is_open and not is_teacher %}
                <p id="join" class="action">Join Classroom</p>
                {% elif is_open %}
                <p id="new" class="action">New Chat Session</p>
                {% endif %}
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content border">
                {% if not is_open and is_teacher %}
                <h1>Create Classroom</h1><br>
                <form method="post">
                    <label for="classroom_name">Classroom name</label><br>
                    <input name="classroom_name" type="text" placeholder="Enter classroom name"><br><br>
                    <input type="submit" value="Create">
                </form>

                {% elif not is_open and not is_teacher %}
                <h1>Join Classroom</h1>
                <form method="post">
                    <label for="join_code">Classroom join code</label><br>
                    <input name="join_code" type="text" placeholder="Join code"><br><br>
                    <input type="submit" value="Join">
                </form>
                {% elif is_open %}
                <h1>New Chat Session</h1>
                <form method="post">
                    <label for="name">Chat session name</label><br>
                    <input name="name" type="text" placeholder="Enter classroom name"><br><br>
                    <input type="submit" value="Create">
                </form>
                {% endif %}

                <button id="cancel">Cancel</button>
            </div>
          
          </div>

        <div id="main-wrapper">
            {% if not is_open %}
            <h2>Your classrooms</h2><br>
            <div id="classrooms-wrapper">
                {% if classroom_names %}
                {% for classroom_name in classroom_names.keys() %}
                <a href="/">
                <div class="border shadow">
                    <a href="/classroom/{{classroom_names[classroom_name]}}">{{classroom_name}}</a>
                </div>
                </a>
                {% endfor %}
                {% else %}
                <p>You aren't in any classes. Join a class to start!</p>
                {% endif %}
            </div>
            {% endif %}
            {% if is_open %}
            <h2>Your chat sessions</h2><br>
            <div id="chat-session-wrapper" class="border">
                {% if chat_session_names %}
                {% for session_name in chat_session_names.keys() %}
                <a href="/">
                <div class="border shadow">
                    <a href="/chat/{{chat_session_names[session_name]}}">{{session_name}}</a>
                </div>
                </a>
                {% endfor %}
                {% else %}
                <p>Create a new chat session to start</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
    </body>
</html>