<!DOCTYPE html>
<html>
    <head>
        <title>Log in - Terminal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">Terminal</a></h1>
        </div>

        <div id="main-wrapper">
            <div id="main-content">
                <h2>Log in</h2>
                <h3>{{ school_system }}</h3>

                <form method="post" id="login-form">
                    <label for="email">Email</label><br>
                    <input type="text" name="email"><br><br>

                    <label for="password">Password</label><br>
                    <input type="password" name="password"><br><br>

                    <input type="submit" value="Login">
                </form>
            </div>
        </div>

        <script src=""></script>
    </body>
</html>