<!DOCTYPE html>
<html>
    <head>
        <title>Sign in - Terminal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">Terminal</a></h1>
        </div>

        <div id="main-wrapper">
            <div id="main-content">
                <h2>Sign in</h2>
                <h3>Select your school system</h3>

                <input type="text" id="school-search-bar" placeholder="Search for your school system" style="width: 100%">
                <br><br><br>
                <div id="school-system-list">                    
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/select_school.js') }}"></script>
    </body>
</html>