<!DOCTYPE html>
<html>
    <head>
        <title>Log in - Terminal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">Terminal</a></h1>
        </div>

        <div id="main-wrapper">
            <div id="main-content">
                <h2>Log in</h2>
                <div id="choose-role">
                    <div class="role-button" id="classroom">
                        <h3>I am a teacher or student</h3>
                        <p>Log in through your school system</p>
                    </div>

                    <div class="role-button" id="open">
                        <h3>I am signing into a personal or business account</h3>
                        <p>Log into an Terminal Open account</p>
                    </div>
                </div>

                <form action="/login" method="post" id="login-form" class="hidden">
                    <label for="email">Email</label><br>
                    <input type="text" name="email"><br><br>

                    <label for="password">Password</label><br>
                    <input type="password" name="password"><br><br>

                    <input type="submit" value="Login">
                </form>
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
    </body>
</html>