<!DOCTYPE html>
<html>
    <head>
        <title>Sign up - TERMinal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">TERMinal</a></h1>
        </div>

        <div id="main-wrapper">
            <div id="main-content">
                <h2>Sign up</h2>
                <div id="choose-role">
                    <div class="role-button" id="open">
                        <p>I am creating an account for personal or business use</h3>
                    </div>
                    
                    <div class="role-button" id="classroom">
                        <p>I am creating an account for school use</h3>
                    </div>
                </div>

                <div id="classroom-redirect" class="hidden">
                    <p>You need to sign in through your school system to use the chatbot for school.</p>
                    <a href="/login/classroom">Sign in through your school system</a>
                </div>
                
        <script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
    </body>
</html>