<!DOCTYPE html>
<html>
    <head>
        <title>TERMinal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>

    <body>
        <div id="topbar">
            <h1><a href="/">TERMinal</a></h1>
            <div id="actions-link-wrapper">
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div id="main-wrapper">
            <div id="main-content">
                <h2>{{classroom_name}}</h2><br>
                <h2>Viewing chat logs for {{student_name}}</h2>
                <div class="border">
                    <div id="list", style="overflow-y:auto; height:20em;">
                        {% for input in logs.keys() %}
                        <div>
                            <p><b>{{student_name}}</b>: {{input}}</p>
                            <p><b>Chatbot</b>: {{logs[input]}}</p>
                            <br><br><br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <script>
            const list = document.getElementById('list');
            list.scrollTop = list.scrollHeight;
        </script>
    </body>
</html>